@media screen and (max-width: 591px) {
  .grid-item-custom {
    padding: 25px 15px 25px 15px;
  }
  .Ilgi_containerBackground {
    margin-top: 15%;
    width: 120vw;
    padding: 0 16%;
  }
  .grid-container {
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  }
}

@media screen and (max-width: 488px) {
  .Ilgi_now {
    display: none;
  }
  .daysIndicator {
    padding: 18.2px 0;
    font-size: 10px;
  }
  .grid_month {
    font-size: 10px;
  }
  .Ilgi_h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 436px) {
  .Ilgi_h1 {
    font-size: 40px;
  }
  .Ilgi_containerBackground {
    width: 150vw;
    padding: 0 20%;
  }
}
@media screen and (max-width: 370px) {
  .Ilgi_h1 {
    font-size: 30px;
    padding-bottom: 5%;
  }
  .Ilgi_containerBackground {
    width: 180vw;
    padding: 0 25%;
  }
  .Ilgi_by {
    display: none;
  }
}
