.Nav_header {
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
}
.hamburger {
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 30px;
}
.Nav_link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 1vh;
  color: #90a4ae;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.Nav_link1 {
  margin-top: 30px;
}
.Nav_link:hover {
  color: white;
  background-color: #212121;
  transition: 0.3s;
}
