.edit_TextArea {
  height: 20vh;
  width: 40vw;
  text-align: center;
}
.Edit_photo_search_result {
  width: 30vw;
  margin: 0.5vw;
}
.edit_grid-container {
  width: 50vw;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-gap: 3px;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
}
.Edit_photo_search_result_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
Edit_search_quote_result_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.edit {
  height: 200vh;
}
.edit_search_img_input {
  display: inline;
  margin: 15px auto;
}
.edit_grid-item {
  padding: 15px;
  border: solid 1px grey;
}
.edit_slider {
  width: 500px;
  margin: 0 auto;
}
.anger {
  background-color: #e60000;
}
.excited {
  background-color: #fdc513;
}
.love {
  background-color: #ffd1d1;
}
.sad {
  background-color: #c6c6c8;
}
.chill {
  background-color: #eafbfa;
}
.nervous {
  background-color: #94acff;
}
