.Quote {
  height: 100%;
  width: 100%;
}
.Quote_right {
  font-size: 20px;
}
.Quote_left {
  font-size: 20px;
}
.Quote_by {
  font-family: "Assistant", sans-serif;
  font-size: 17px;
  font-style: italic;
}
.Quote_text {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
}
.Quote_box {
  width: 30vw;
  margin: 1vw;
  margin-top: 2vh;
  padding: 2vw;
}
@media screen and (max-width: 500px) {
  .Quote_box {
    width: 45vw;
    margin-right: 2vw;
  }
}
@media screen and (max-width: 400px) {
  .Quote_box {
    width: 80vw;
    margin: 5vw auto 2vw;
  }
}

.Quote_box:hover {
  background-color: slategrey;
  transition: 0.8s;
}
.Quote_display {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
/* .Quote_close {
  position: relative;
  left: 0vw;
  width: 32px;
  height: 32px;
  opacity: 0.06;
}
.Quote_close:hover {
  opacity: 1;
}
.Quote_close:before,
.Quote_close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.Quote_close:before {
  transform: rotate(45deg);
}
.Quote_close:after {
  transform: rotate(-45deg);
} */
@import url("https://fonts.googleapis.com/css?family=Assistant:300|Catamaran|Lora");
@import url("https://fonts.googleapis.com/css?family=Exo+2:200");
@import url("https://fonts.googleapis.com/css?family=Oswald");
