.Quote_doubleQ {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}
.Quote {
  height: 100%;
  width: 100%;
}

.Quote_by {
  font-family: "Assistant", sans-serif;
  font-size: 17px;
  font-style: italic;
}
.Quote_text {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
}
.Quote_box {
  width: 30vw;
  margin: 1vw;
  margin-top: 2vh;
  padding: 2vw;
}
.Quote_display {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
@import url("https://fonts.googleapis.com/css?family=Assistant:300|Catamaran|Lora");
@import url("https://fonts.googleapis.com/css?family=Exo+2:200");
@import url("https://fonts.googleapis.com/css?family=Oswald");
