.blocks {
  margin: 0;
  padding-right: 1vw;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}
.blocks_block {
  border-style: outset;
  margin-top: 1vh;
  width: 10vw;
  height: 10vh;
  background-color: aliceblue;
}
