.welcome {
  font-family: "LLPixel";
  height: 100vh;
  width: 100vw;
}
.welcome_content {
  position: absolute;
  bottom: 10vh;
  width: 40vw;
  right: 30vw;
}
.welcome_Ilgi {
  margin: 0;
  font-size: 180px;
  padding-bottom: 25px;
}
.welcome p {
  padding: 10px;
  font-size: 28px;
}
.welcome_letter {
  display: inline;
  padding-right: 5px;
  margin: 0;
}
.welcome_button {
  padding: 8px;
  background: transparent;
  background-color: none;
  border: 1px solid black;
  transition: background-color 2s;
}
.welcome_button:hover {
  background-color: black;
  color: white;
}

@font-face {
  font-family: "LLPixel";
  font-style: normal;
  font-weight: normal;
  src: local("LLPixel"), url("LLPIXEL_.woff") format("woff");
}
