.DisplayContent {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  height: auto;
}

.DisplayContent_body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Haydenhaha {
  padding: 1%;
}
.Haydenhaha h1 {
  font-weight: lighter;
}
.HaydenBox {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  display: inline-table;
  margin-right: 20px;
}
.DisplayContent_second {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.DisplayContent_Quote {
  padding: 5%;
  box-shadow: 3px 2px 5px lightblue;
  margin: 10%;
}
.DisplayContent_Quote:hover {
  background: lightblue;
  transition: 0.3s;
}
.DisplayContent_Event {
  padding: 5%;
  transition: 0.3s;
  box-shadow: 3px 2px 5px lightpink;
  margin: 10%;
}
.DisplayContent_Event:hover {
  background-color: lightpink;
}

.DisplayContent_paper {
  height: 600px;
  width: 40vw;
  margin: 10%;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 0px #888;
}
.pDisplayContent_paper::before {
  content: "";
  height: 100%;
  width: 2px;
  background: rgba(255, 0, 0, 0.4);
}
.DisplayContent_paper-lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  /* width: 100%; */
  background-image: repeating-linear-gradient(
    white 0px,
    white 24px,
    steelblue 25px
  );
}
.DisplayContent_paper-text {
  position: relative;
  top: -95%;
  margin: 0 14%;
  line-height: 27px;
  overflow: hidden;
  outline: none;
}
.vl {
  border-left: 1px solid red;
  height: 98%;
  margin-left: 10%;
}
@media screen and (max-width: 770px) {
  .DisplayContent_second {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .DisplayContent_paper {
    height: auto;
    padding-bottom: 30px;
    width: auto;
  }
}
